PORT=3000
NODE_ENV=production
JWT_SECRET=troque_essa_chave_por_uma_grande_e_segura
DATABASE_URL=cole_aqui_a_url_do_supabase_ou_neon
ADMIN_EMAIL=admin@curso.local
ADMIN_PASSWORD=admin123

# Cloudinary opcional, mas recomendado para publicar no Render grátis
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
